
<!-- <div class="new_title"> We'll be in touch soon :) </div>
 --><!-- <div class="subtext">
	In the meantime you can help everyone in your area get connected by sharing the beta signup link: http://local.network
</div>
 -->
<%# enter name to generate unique signup link that says "Laser invites you to join the Cambridge Network. Sign up for the beta today!", if they do attach name to user (person, member, frontrunner, innovator, pacesetter, freethinker, organizer, leader, pioneer, groundbreaker, vanguard, discoverer, trailblazer, facilitator, coordinator, local, prodigy, inspirator, imaginator, creator, maker, adopter, chief, commander, director, head, manager, dignitary, eminence, exec, forerunner, guide, luminary, networker, messenger, sharer, engager, principal, activist, colonist, colonizer, explorer, founder, pathfinder, pilgrim, settler, adventurer, seeker, inquirer) ones that stick out are (explorer, discoverer, pioneer, innovator, creator, trendsetter, local, trailblazer, organizer, leader, groundbreaker, visionary)%>

