<head>
	<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,600,400' rel='stylesheet' type='text/css'>
</head>


<body>
	<!-- Page Title and Subtitle -->
	<div class="main_text"> Join The Local Network </div>

	<div class="main_sub_text"> Be a community leader, sign up for the beta! </div>

	<!-- Email Submit Form -->
	<%= form_for :user, url: users_path do |f| %>

		<div class="email_div">
		    <%= f.text_field :email, :class => "email_box", :placeholder => "your email address here" %>
		 
		    <%= f.submit 'Get Early Access', :class => "email_button" %>
		</div>

	<% end %>

	<!-- More Information, Who, What, How -->
	<div class="who_what_how">

		<div class="who">

			<div class="who_title"> Who? </div>

			<div class="who_text"> Everyone who wants to utilize the fantastic potential of the internet to create close-knit, engaging, and collaborative local community! Whether you're a community organizer, political leader, businessman, artist, engineer, farmer, or anything in between, community is good for you, me, and everyone around us. You might be a social revolutionary or simply wanting to find out what's going on in town tonight, but whoever you are, if it involves connecting to the people, events, organizations, and information around you, the local network will be the place to start. </div>

		</div>

		<div class="what">
			<div class="what_title"> What? </div>
			<div class="what_text"> A location based community platform to discover and engage with the people around you through interests, groups, events, news, discussions, and a stream that aggregates the collective happenings of the nearby world around you! A platform with the sole intent to maximize the growth of community by making local interaction effortless and blissful :)</div>
		</div>

		<div class="how">
			<div class="how_title"> How? </div>
			<div class="how_text"> We'll do everything we can to empower you, the people and communities, by adapting and enhancing the platform to meet your needs and desires. Further, we will donate 51% of our profits every year back to your (our) communities through projects you submit and democratically choose by voting on the site! In this way, we can support community prosperity through enhancing connectivity and local awareness in the digital world, as well as financially support community powered events and projects in the real world :) </div>
		</div>

	</div>


	<!-- Background Video/Image -->
	<video autoplay loop poster="local_page_v1_1.jpg" id="bgvid">
	<source src="local_page_v1_1.webm" type="video/webm">
	<source src="local_page_v1_1.mp4" type="video/mp4">
	</video>
</body>