<div class="privacy static_page">
	<center>
		<div class="static_title">
			Privacy Policy
		</div>

		<div class="static_text">
			We don't give your data to the government!
		</div>
	</center>
</div>