<div class="privacy static_page">
	<center>
		<div class="static_title">
			Privacy Policy
		</div>

		<div class="static_text">
			We don't give your data to the government or other companies! We use it internally to give you a better experience. For example, by running super cool machine learning algorithms on your interactions with the site to automatically determine the things you love and effortlessly render them to you!
		</div>
	</center>
</div>