<div class="terms static_page">
	<center>
		<div class="static_title">
			Terms of Use
		</div>
		<div class="static_text">
			We'll always treat you extremely well to our highest ability, consciously striving and working harder to be even better to you. We hope you'll return the love :)
		</div>
	</center>
</div>