// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
}

body { 
	background: url(asset-path('local_page_v1_1.jpg')) #000 no-repeat center center fixed; 
	background-size: cover;
	margin: 0px;
}

.section1 {
	height: 100vh;
}

.main_text {
	position:relative;
	// font-size: 72px;
	font-size: 5vmax;
	color: white;
	text-align: center;
	padding-top: 18vh;
	// font-family: 'Bree Serif', serif;
	// font-family: 'Open Sans', sans-serif;
	font-family: 'Montserrat', sans-serif;
	//font-weight: bold;
	// text-shadow: 4px 4px 1px #000;
}


.main_sub_text {
	position:relative;
	font-size: 2vmax;
	color: white;
	text-align: center;
	margin-top: 2%;
	font-family: 'Open Sans', sans-serif;
	// font-weight: 600;
	// font-style: italic;
	// text-shadow: 2px 2px 0px #000;

}

.error_message_div {
	margin-top: 6%;
	height: 1.3vmax
}

.error_message {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: red;
	font-size: 1.1vmax;
	text-align: center;
}

.email_div {
	margin-top: 1%;
}

.email_box {
	width: 46%;
	padding: 0.5vmax;
	margin-left: 21%;
	font-size: 1.1vmax;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
	outline: none;
	border-color: transparent;
	float: left;
	-webkit-font-smoothing: antialiased;
}

.email_box:hover {
	box-shadow: 1px 0px 5px #29B6F6, 0px -1px 5px #29B6F6, -1px 0px 5px #29B6F6, 0px 1px 5px #29B6F6;
}

.email_box:focus {
	border-color: #29B6F6;
	box-shadow: 0 0 15px #29B6F6;
}

.email_button {
	padding: 0.5vmax;
	width: 12%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.1vmax;
	border-radius: 0px;
  background-color: #03A9F4;
 	color: #ffffff;
 	border-color: transparent;
 	outline: none;
 	float: left;
 	// Remove rounded corners on mobile
 	-webkit-appearance: none;
  -webkit-border-radius: 0;
  -webkit-font-smoothing: antialiased;
}

.email_button:hover {
	background-color: #29B6F6;
}

.email_button:active {
	background-color: #29B6F6;
	margin-left: 2px;
	margin-top: 2px;
}

.chevron_down {
	position: absolute;
	// padding-top: calc(100vh - 720px);
	width: 50vw;
	//overflow: hidden;
	bottom: 12px;
	margin-left: calc(50vw - 36px);
}

#chevron_down {
	animation-delay: 12s;
	animation-iteration-count: 4;
	-webkit-animation-delay: 12s;
	-webkit-animation-iteration-count: 4;
	-moz-animation-delay: 12s;
	-moz-animation-iteration-count: 4;
}

// Stick Top Nav

.top_nav {
	position: absolute;
	width: 100%;
	color: #FFF;
	background-color: #000;
	height: 54px;
	box-sizing: border-box; 
	z-index: 3;
	// box-shadow: 0 1px 8px rgba(0,0,0,0.3);
}

.top_nav_scrolled {
	position: fixed;
	top: 0;
}

.top_nav_color_1 {
	background-color: #03A9F4;
}

.why_nav, .how_nav, .what_nav, .join_nav {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	display: inline-block;
	padding-top: 18px;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	color: #fff;
	z-index: 10;
}

.why_nav{
	margin-left: 36px;
}

.how_nav {
	margin-left: 36px;
}

.what_nav {
	margin-left: 36px;
}

.join_nav {
	padding-left: 36px;
	position: absolute;
	right: 36px;
}

.why_nav:hover, .how_nav:hover, .what_nav:hover, .join_nav:hover {
	color: #EEEEEE;
}


// Section 2

.section2 {
	height: 100vh;
	width: 100vw;
	background-color: #03A9F4;
	box-sizing: border-box; 
	overflow: hidden;
}

.why_section {
	margin-top: 5vmin;
	padding-left: 5%;
	padding-right: 5%;
}

.why1, .why2, .why3, .why4, .why5 {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 3.3vmin;
	text-align: center;
	padding-top: 10vmin;
}

.why4 {
	padding-top: 15vmin;
	font-size: 6.6vmin;
}

.why5 {
	padding-top: 5vmin;
	font-size: 2.2vmin;
}


// Section 3

.how_anchor {
  display: block;
  position: relative;
  top: -54px;
  visibility: hidden;
}

.section3 {
	background-color: #fff;
  height: calc(100vh - 54px);
  width: 100vw;
}

.network_animation {
	width: 100vw;
	float: right;
	height: calc(100vh - 54px);
	object-fit: cover;
}

.network_gradient {
	background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.9), rgba(255,255,255,0.8),
		rgba(255,255,255,0.2), rgba(255,255,255,0.1), rgba(255,255,255,0));
	width: 100vw;
	height: calc(100vh - 54px);
	position: absolute;
}

.section3_text {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 3.3vmin;
	margin-left: 10vmin;
	margin-right: 55vw;
	text-shadow: 0.1vmin 0.1vmin 0px #fff;
	margin-top: 54px;
	z-index: 2;
}

.s3_1, .s3_2, .s3_3, .s3_4 {
	margin-top: 5vmin;
}


// Section 4

.what_anchor {
  display: block;
  position: relative;
  top: -54px;
  visibility: hidden;
}

.section4 {
	width: 100vw;
	height: calc(100vh - 54px);
	background-color: #000;
}

.section4_text {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 3.3vmin;
	margin-left: 25vw;
	margin-right: 25vw;
	padding-top: 54px;
}

.s4_1, .s4_2, .s4_3, .s4_4 {
	padding-top: 6vmin;
}


// Section 5

.section5 {
	height: calc(100vh - 54px);
	width: 100vw;
}

.s5_1 {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 9vmin;
	text-decoration: none;
	text-align: center;
	display: block;
	padding-top: 27vmin;
}

// .who_what_how {
// 	position: relative;
// 	margin-top: 18vh;
// 	width: calc(80vw + 7px);
// 	margin-left: auto;
// 	margin-right: auto;
// 	color: white;
// }

// .who, .what, .how {
// 	float: left;
// 	width: 18vw;
// 	background: rgba(0, 0, 0, 0.5);
// 	padding: 1vw;
// 	border: 2px solid transparent;
// 	border-radius: 8px;
// }

// .who {
// }

// .what {
// 	margin-left: calc(10vw - 3px);
// }

// .how {
// 	margin-left: calc(10vw - 3px);
// }

// .who:hover, .what:hover, .how:hover {
// 	border: 2px solid #fff;
// }

// .who_title, .what_title, .how_title {
// 	text-align: center;
// 	font-family: 'Open Sans', sans-serif;
// 	font-weight: 600;
// 	font-style: italic;
// 	text-shadow: 2px 2px 0px #000;
// 	font-size: 1.5vmax;
// }

// .who_text, .what_text, .how_text {
// 	margin-top: 1vmax;
// 	font-family: 'Open Sans', sans-serif;
// 	font-weight: 400;
// }




video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -100;
	background: url(local_page_v1_1.jpg) no-repeat;
	background-size: cover;
}


// Mobile Optimization

@media only screen and (max-device-width: 800px) {


#bgvid { 
	display: none; 
}

.main_text {
	margin-top: 20%;
}

.email_box {
	margin-left: 16%;
}

.email_button {
	width: 22%;
}

}



