// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_text {
	position:relative;
	// font-size: 72px;
	font-size: 5vmax;
	color: white;
	text-align: center;
	margin-top: 7%;
	font-family: 'Bree Serif', serif;
	text-shadow: 4px 4px 1px #000;
}

.main_sub_text {
	position:relative;
	font-size: 2vmax;
	color: white;
	text-align: center;
	margin-top: 2%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: italic;
	text-shadow: 2px 2px 0px #000;

}

.error_message_div {
	margin-top: 6%;
	height: 1.3vmax
}

.error_message {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: red;
	font-size: 1.1vmax;
	text-align: center;
}

.email_div {
	margin-top: 1%;
}

.email_box {
	width: 46%;
	padding: 0.5vmax;
	margin-left: 21%;
	font-size: 1.1vmax;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: italic;
	outline: none;
	border-color: transparent;
	float: left;
}

.email_box:hover {
	box-shadow: 1px 0px 5px #FF7B00, 0px -1px 5px #FF7B00, -1px 0px 5px #FF7B00, 0px 1px 5px #FF7B00;
}

.email_box:focus {
	border-color: #FF7B00;
	box-shadow: 0 0 15px #FF7B00;
}

.email_button {
	padding: 0.5vmax;
	width: 12%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.1vmax;
	border-radius: 0px;
  	background-color: #FF7B00;
 	color: #ffffff;
 	border-color: transparent;
 	outline: none;
 	float: left;
 	// An attempt to remove rounded corners on mobile
 	-webkit-appearance: none;
  	-webkit-border-radius: 0;
}

.email_button:hover {
	background-color: #FFC700;
}

.email_button:active {
	background-color: #FFC700;
	margin-left: 2px;
	margin-top: 2px;
}

.who_what_how {
	position: relative;
	margin-top: 18vh;
	width: calc(80vw + 7px);
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.who, .what, .how {
	float: left;
	width: 18vw;
	// background: rgba(25, 20, 20, 0.5);
	padding: 1vw;
	border: 2px solid transparent;
	border-radius: 8px;
	height: 26vh;
}

.who {
}

.what {
	margin-left: calc(10vw - 3px);
}

.how {
	margin-left: calc(10vw - 3px);
}

.who:hover, .what:hover, .how:hover {
	border: 2px solid #fff;
}

.who_title, .what_title, .how_title {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: italic;
	text-shadow: 2px 2px 0px #000;
	font-size: 1.5vmax;
}

.who_text, .what_text, .how_text {
	margin-top: 1vmax;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}




video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(local_page_v1_1.jpg) no-repeat;
	background-size: cover;
}


// Mobile Optimization

@media screen and (max-width: 800px) {

body { 
	background: url(local_page_v1_1.jpg) #000 no-repeat center center fixed; 
}

#bgvid { 
	display: none; 
}

}

